.Resume {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.Resume .main-title {
    margin-bottom: 10px;
}

.Resume .text-description {
    margin: 10px 0;
    padding: 0 2vw;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 40px;
    width: 100%;
}

.Resume .icons {
    display: flex;
    flex-direction: row;
}

.Resume .icon-glass {
    width: 10rem;
    height: 10rem;
}

.Resume .icon-small {
    width: 5rem;
    height: 5rem;
    margin: 1rem
}

.Resume .about-img {
    display: none;
}

@media (min-width: 1200px) {

    .Resume .text-with-icon img {
        display: block;
    }

    .Resume p.text-description.course-description {
        width: 80%;
    }

    .Resume .text-with-icon .text-description {
        width: 100%;
    }

    .Resume .text-with-icon img {
        height: auto;
        width: 300px;
        float: right;
    }

    .Resume .about-img {
        display: block;
        height: 100%;
    }
}