.CompEdu p:last-of-type {
    text-align: left;
    padding: 15px 5px;
    font-size: 25px;
    text-align: center;
}

@media (min-width:1000px) {
    .CompEdu p:last-of-type {
        text-align: left;
    }
}