.SocialNavbar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;

    border-bottom: solid #906090 1px;
    border-top: solid #906090 1px;
}

.SocialNavbar ul {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.SocialNavbar li {
    display: flex;
    letter-spacing: 1px;
}

.SocialNavbar .icon-link {
    height: 20px;
    width: auto;
    margin: auto 0;
    margin-right: 5px;
}

@media (min-width: 1200px) {

    .SocialNavbar .icon-link {
        height: 30px;
        width: 30px;
    }
}