.ProjectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: fit-content;
}

.ProjectCard .card-img {
    height: 100%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px var(--primary-color);

}

.ProjectCard .card-img:hover {
    border: 5px solid var(--terciary-color);
}

.ProjectCard h2:hover {
    cursor: pointer;
    color: var(--terciary-color)
}

.ProjectCard h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
}

.ProjectCard p {
    text-align: center;
    font-size: 22px;
    padding: 1px;

    max-height: 25vh;

    overflow-y: scroll;

}


.ProjectCard p::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ProjectCard p::-webkit-scrollbar-thumb {
    background-color: var(--terciary-color);
    border-radius: 5px;
}

.ProjectCard .card-keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ProjectCard .card-keyword {
    font-size: 16px;
    font-style: italic;
    color: lightgreen;
}

@media (min-width: 650px) {

    .ProjectCard .projects-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .ProjectCard p {
        height: fit-content;
        max-height: 35vh;
    }
}