.Education .primary-educaton {
    border-top: double 0.5vh var(--terciary-color);
}

.Education .education-icon {
    width: 5rem;
    height: 5rem;
}

.Education .education p {
    letter-spacing: normal;
}

.Education .title-icon {
    display: flex;
    align-items: center;
}

.Education .complementary {
    padding: 2rem 0;
}

.Education .smaller-title {
    font-size: 1.5rem;
}


.Education .medium-title {
    font-size: 2rem;
}


.Education .course {
    padding: 15px 0;
}

.Education .course-name {
    font-size: 1.6rem;
    text-align: left;
    background-color: var(--text-bg-color);

    padding: 0.7rem;
}

.Education .course-date {
    margin-left: 1rem;
    font-size: 0.8rem;
    text-align: left;
    font-weight: bolder;
    color: rgb(97, 96, 96);
}

.Education .course-description {
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    margin: 0.5rem 0;
    padding: 1rem;
}


.Education article :last-child {
    border-bottom: aliceblue 1px solid;
}

@media (min-width: 1200px) {

    .Education .course-name {
        margin-right: 0
    }
}