$profile-img: url(' ./src/assets/perfil2.jpg');
$projects-img: url('./src/assets/icons/project.png');

$resume-main-img: url('./src/assets/icons/search.png');
$resume-second-img: url('./src/assets/icons/html-5.png');
$resume-third-img: url('./src/assets/icons/css-3.png');
$resume-forth-img: url('./src/assets/icons/js.png');

$education-primary-icon: url('./src/assets/icons/scholarship.png');
$education-complementary-icon: url('./src/assets/icons/puzzle.png');

$arrow: url('../src/assets/icons/right-arrow.svg');