.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
}

.Contact #profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 1px;

    background-color: black;
}

.Contact .SocialNavbar {
    background-color: rgba(240, 248, 255, 0.603);
}

.Contact .content-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 6rem 0;
    border-radius: 18px;
}

.Contact .presentation {
    font-size: 22px;
    padding: 0 10px;
}

.Contact .presentation p {
    margin: 15px 0;
}

.Contact .form {
    margin: 20px auto;
    width: 98vw;
}


.Contact .form .input-box {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
}

.Contact .form .input-box label {
    margin-bottom: 10px;
}

.Contact .form .input-box input,
.Contact .form .input-box textarea {
    color: #000;
    border: none;
    border-radius: 4px;
    min-height: 25px;
    font-size: 20px;
    padding: 3px 5px;
}



.Contact .form button {
    width: 100px;
    height: 30px;
    color: #000;

    margin: 10px 0;

    border: none;
    border-radius: 3px;
}

.Contact .SocialNavbar li {
    color: black !important;
}

.Contact .loader-div {
    position: relative;
}

.Contact .loader {
    position: absolute;
    top: calc(50% - 60px / 2);
    left: calc(50% - 60px/ 2);
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 550px) {
    .Contact .form {
        width: 550px;
    }
}

@media (min-width: 700px) {
    .Contact #profile {
        height: 150px;
        width: 150px;
    }

    .Contact .presentation {
        margin-top: 50px;
    }

    .Contact .content-box {
        flex-direction: row;
    }

    .Contact .form {
        width: 600px;
    }
}

@media (min-width: 950px) {
    .Contact .presentation {
        width: 40%;
    }

    .Contact .form {
        width: 60%;
    }
}