.ProjectPage {
    padding: 1rem;
}

.ProjectPage img {
    height: 400px;
}

.ProjectPage p {
    margin: 1rem 0;
}

.ProjectPage .bts {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ProjectPage .bt {
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.ProjectPage .bt-right {
    background-image: url(../../assets/icons/right-arrow.svg);
}

.ProjectPage .bt-left {
    background-image: url(../../assets/icons/right-arrow.svg);
    transform: rotate(180deg);
}