.ProjectPage {
    padding: 1rem;
}

.ProjectPage img {
    max-height: 60vh;
    max-width: 80vw;
}

.ProjectPage img:hover {
    border: solid 3px #906090;
    cursor: pointer;
}

.ProjectPage p {
    margin: 1rem 0;
}

.ProjectPage .bts {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ProjectPage .bt {
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.ProjectPage .bt-right {
    background-image: var(--arrow);
}

.ProjectPage .bt-left {
    background-image: var(--arrow);
    transform: rotate(180deg);
}