.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    width: 100%;

    margin: auto;
    padding: 0 2rem;

    position: sticky;
    top: 0;

    border-bottom: solid #906090 1px;
}

.Header img {
    width: 40px;
    height: 40px;

    margin: 10px;
}

.Header nav {
    position: relative;
}

.Header .menu {
    margin-right: 60px;
}

.Header ul {
    display: none;
    position: absolute;
    top: 0;
}

.Header li {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Header .shown {
    display: flex;
    right: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.205) 1px;


    list-style: none;
    top: 0;
    transition: top 0.5s ease-in-out;
}

@media (min-width:400px) {
    .Header {
        width: 100%;

        margin: 0;
    }

    .Header li {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .Header {
        justify-content: space-between;

    }

    .Header ul {
        display: flex !important;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 3vw;
        padding-right: 1vw;
        width: 100%;
        background-color: transparent;
    }

    .Header .menu {
        display: none;
    }

    * li {
        font-size: 18px;
    }
}