@use '../../styles/colors';
@import '../../styles/mixins';

.Header {
    @include flexbox(space-between);

    min-height: 1vh;
    width: 100%;

    margin: auto;
    padding: 0.5rem;

    position: sticky;
    top: 0;

    border-bottom: solid colors.$tertiary 1px;
    border-radius: 0 0 8px 8px;

    z-index: 1;

    img {
        width: 40px;
        height: 40px;
    
        margin: 10px;
    }
    
    .header-navbar {
        @include flexbox(none, column)
    }

    .header-navbar a:hover {
        all: unset;
        cursor: pointer;
    }

    .header-navbar a.active {
        color: colors.$tertiary;
        text-decoration: overline;
    }

    .menu {
        align-self: flex-end;
        margin-bottom: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.404);
        padding: 10px 3px 0px 3px;
        border-radius: 8px;
    }

    ul {
        display: none;
        top: 0;
    }

    li {
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .shown {
        display: flex;
        padding: 10px;
        border-radius: 10px;
        gap: 10%;
        margin-right: 2rem;

        list-style: none;

        margin-top: 0;
    }

    @media (min-width:400px) {
        .Header {
            width: 100%;
            
            margin: 0;
        }
        
        .Header li {
            font-size: 16px;
        }
    }
}

@media (min-width:600px) {
    .Header {
        padding: 1.5rem;
    }

    .Header li {
        font-size: 22px;
    }
}

@media (min-width:1000px) {
    .Header {
        min-height: 5vh;
        padding: 2rem;
    }

    .Header li {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .Header {
        min-height: 10vh;
        justify-content: space-between;
        align-items: center;

    }

    .Header ul {
        @include flexbox(space-between, row);
        position: relative;
        gap: 3vw;
        padding-right: 1vw;
        width: 100%;
        background-color: transparent;
    }

    .Header .menu {
        display: none;
    }

    * li {
        font-size: 18px;
    }
}