.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Loading .bar-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 95%;
    padding: 1px;
    gap: 10px;
}

.Loading .bar {
    background-color: rgba(128, 128, 128, 0.096);
    animation: 1.7s infinite slide;
}

.Loading .upper-bar {
    height: 80%;
}

.Loading .lower-bar {
    height: 10%;
}

@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 100%;

    }
}