.ImageComponent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImageComponent .tooltip {
    display: none;
    position: absolute;

    width: fit-content;
    height: fit-content;

    background-color: rgba(128, 128, 128, 0.8);

    border-radius: 18px;
    padding: 1rem;
    pointer-events: none;
}

.ImageComponent .card-img:hover+.tooltip {
    display: block;
}

.ImageComponent .tooltip:hover {
    display: block;
}

.ImageComponent img {
    max-height: 60vh;
    max-width: 90vw;
}

.ImageComponent img:hover {
    border: solid 1px #906090;
    cursor: pointer;
}

@media (min-width:700px) {
    .ImageComponent img {
        max-width: 80vw;
    }
}

@media (min-width:1000px) {
    .ImageComponent img {
        max-width: 70vw;
    }
}