* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: aliceblue;
}

:root {
  --primary-color: #301860;
  --secondary-color: #001848;
  --terciary-color: #906090;
  --text-bg-color: #9060901a;

  --primary-ff: 'Playfair Display';
  --secondary-ff: 'Maven Pro';

  --profile-img: url(' ./src/assets/perfil2.jpg');
  --projects-img: url('./src/assets/icons/project.png');

  --resume-main-img: url('./src/assets/icons/search.png');
  --resume-second-img: url('./src/assets/icons/html-5.png');
  --resume-third-img: url('./src/assets/icons/css-3.png');
  --resume-forth-img: url('./src/assets/icons/js.png');

  --education-primary-icon: url('./src/assets/icons/scholarship.png');
  --education-complementary-icon: url('./src/assets/icons/puzzle.png');

  --arrow: url('../src/assets/icons/right-arrow.svg');
}

html {
  background-image: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
}

ul {
  list-style: none;
}

h1,
h2,
li,
a {
  font-family: var(--primary-ff);
}

a {
  color: inherit;
}

p {
  font-family: var(--secondary-ff);
}

a {
  text-decoration: none;
  color: none;
}

a:hover {
  color: var(--terciary-color);
  font-weight: bold;
}

.icon {
  height: 50px;
  width: 50px;

  margin: 25px 30px;

  background-size: contain;
  background-repeat: no-repeat;
}

.main-title {
  margin-top: 30px;

  font-size: 44px;
  letter-spacing: 6px;
}

.text-description {
  width: 100%;

  font-size: 23px;
  letter-spacing: 3px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 1200px) {
  body {
    padding: 0 5vw;
    width: 90vw;
    margin: 0 auto;
  }
}