.ProjectPage {
    padding: 1rem;
    min-height: 80vh;
}

.ProjectPage p {
    margin: 1rem 0;
}

.ProjectPage .bts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.ProjectPage .bt {
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 30px 0;
}

.ProjectPage .bt-right {
    background-image: var(--arrow);
}

.ProjectPage .bt-left {
    background-image: var(--arrow);
    transform: rotate(180deg);
}

.ProjectPage .main-title {
    text-align: center;
    font-size: 32px;
}

.ProjectPage .project-keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 13px
}

.ProjectPage .project-keyword {
    font-size: 22px;
    font-style: italic;
    color: lightgreen;
}

.ProjectPage .mobile {
    background-color: var(--secondary-color);
    padding: 50px 0;
    margin-top: 5%;
    border-radius: 18px;
}

.ProjectPage .mobile h2 {
    font-size: 36px;
    letter-spacing: 2px;
}

.ProjectPage .mobile img {
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 10px var(--primary-color);
}

@media (min-width:700px) {
    .ProjectPage .bt {
        width: 40px;
        height: 40px;
        margin: 30px 0;
    }

    .ProjectPage .main-title {
        font-size: 44px;
    }
}

@media (min-width:700px) {
    .ProjectPage .bt {
        width: 50px;
        height: 50px;
    }
}